@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eceffa;
}

/*Common*/

.alert {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
  align-self: flex-start;
}

.error-dailog {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/*Navbar*/

.nav {
  display: flex;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

nav .left-nav {
  color: #fff;
  font-style: normal;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

nav .left-nav h1 {
  cursor: pointer;
}

nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

nav #user-dp {
  height: 40px;
}
nav .user {
  display: flex;
  align-items: center;
}
nav span {
  margin-left: 10px;
}
nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
nav .nav-links ul {
  display: flex;
  list-style-type: none;
}
nav .nav-links ul li {
  padding: 0 4px;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
}
nav .nav-links ul li a:hover {
  text-decoration: underline;
}
nav .nav-links ul li:hover {
  cursor: pointer;
}

/*Trip List*/

.trip {
  height: 7em;
  width: 20em;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
}

.trip input {
  height: 45px;
  width: 95%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.trip input input:focus,
.trip input input:valid {
  border-color: #9b59b6;
}
.trip button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  height: 2em;
  width: 8em;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* LOGIN & SIGNUP COMPONENTS */
.login-signup-header {
  font-weight: 600;
  font-size: 30px;
}
.login-form {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  border-radius: 6px;
}
.field {
  width: 100%;
}
.field input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}
.field input:focus {
  outline: none;
}
.field button {
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
.field button:hover {
  cursor: pointer;
}

/*Trip*/

.trip-wrapper {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  width: 95%;
  position: relative;
  left: 2.5%;
  will-change: transform;
  transition: transform 450ms;
}

.trip-wrapper:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

.trip-header {
  padding: 10px 10px;
}
.trip-content {
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 22px;
  color: #fff;
  margin-top: 15px;
  padding-bottom: 14px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/*Users List*/
.list-outer {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 25em;
  box-sizing: border-box;
  margin: 50px auto 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px #252525;
}

.list-title {
  text-align: center;
  background: #444;
  padding: 0px;
  border-radius: 3px 3px 0 0;
}

.list-title h1 {
  font-size: 36px;
  margin: 0;
  color: white;
  font-weight: lighter;
}

.create-new {
  border-top: 1px solid #777;
  width: 100%;
  display: inline;
}

.create-new input {
  box-sizing: border-box;
  width: 75%;
  padding: 10px;
  font-size: 18px;
  border: none;
  margin: 0%;
}

.create-new button {
  width: 25%;
  background: #eee;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-left: 1px solid #999;
  margin: 0%;
}

.items-list {
  background: #138796;
  border-radius: 3px;
}

.to-do-item {
  padding: 10px 0 10px 0;
  margin: 1px 0 1px 0;
  border-top: 1px solid darken(#138796, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  user-select: none;
}

.name {
  margin-left: 10px;
}

.name input {
  width: 5em;
  color: #333;
  padding: 5px;
  border: none;
  border-radius: 1px;
}

.actions {
  margin-right: 10px;
}

.actions button {
  padding: 7px;
  border-radius: 2px;
  border: none;
  background: #333;
  color: white;
  font-weight: lighter;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  background-color: #1eb7f4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*back button*/
.back-button {
  border-radius: 4px;
  background-color: #1eb7f4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.back-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back-button span:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.back-button:hover span {
  padding-left: 25px;
}

.back-button:hover span:after {
  opacity: 1;
  left: 0;
}

.delete-trip {
  background-color: red;
  color: white;
  width: 20px;
  text-align: center;
  border-radius: 4px;
}

.delete-trip:hover {
  font-weight: bold;
}
